.container {
    -fx-background-color: #EBEBEB;
}
.sidebar-button {
    -fx-background-color: transparent;
}
.sidebar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px 0px 0px 0px;
}
.sidebar-button:hover {
    -fx-background-color: #EBEBEB;
}
.sidebar-button.clicked {
    -fx-background-color: #EBEBEB;
}
.tooltip {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}